<div class="pages">
  <div data-page="about" class="page no-toolbar no-navbar">
    <div class="page-content">
    
	<div class="navbarpages navbarpagesbg">
                  <a href="index.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" /> </a>
			     <div class="navbar_right navbar_right_menu"> <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title=""></a> </div>			
			     
			     			
	</div>
						
     <div id="pages_maincontent">
      
          <h2 class="page_title">About Us</h2>
			  
                  <!-- Slider -->
                  		  
			  <div class="card">
	<div class="card-content card-content-padding">	
	  
              <blockquote>
              DJ Gaadi- Your "Dream Journey" wala "Gaadi". DJ Gaadi is an online platform which provides E-Ticket to reserve your lucky seat in your dream bus to have your dream journey.


We are currently working for Odisha as step up stone to have a Digital Odisha and to have a top state having all digital users. As we are operating only in Odisha, we promise, you will get the best services with the lowest price from us till the sun and moon are there.


We are continually working to tie-up with each and every bus in one online platform. Our main aim is to help you to travel comfortably with DJ Gaadi to have your dream journey successful. So we are making it as simple as we can to spread happiness among us and to help you out to celebrate more time with your loved ones at each and every corner of our state.

 <span> djgaadi.in/</span>
              </blockquote>
			  
                  
               
              
               

               
               
			  
			  
              
			  
			  
         </div>
      </div>
      </div>
      
      
    </div>
  </div>
</div>