<div class="pages">
  <div data-page="blog" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages navbarpagesbg"> <a href="index.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" />
        <div class="navbar_right navbar_right_menu"> <a href="#" data-panel="left" class="open-panel"> <img src="images/icons/white/menu.png" alt="" title="" /></a> </div>
      </div>
      <div id="pages_maincontent">
        <h2 class="page_title">
					 <span class="pname"> BBSR </span> 
					 <span class="ar"> <img src="images/icons/black/rarrow.png" /> </span>
					  <span class="dname">  BAM  </span> 
					  
					  <span class="cdate"> 12/03/2019 </span>
					  <span class="edt"><a href="#" data-popup=".popup-edit" class="open-popup close-panel"> <img src="images/icons/black/edit.png" /> </a> </span>
					  </h2>
         
          <div class="list-block">
            <ul class="posts">
              <li class="swipeout">
			  <div class="card">
          <div class="card-content card-content-padding">	
                <div class="swipeout-content item-content">
                  <div class="post_entry">
                    <div class="post_thumb"> <img src="images/photos/photo8.jpg" alt="" title="" /> </div>
                    <div class="post_details">
                      <div class="post_category"> <span class="busname"> AJAYA </span> <span class="tob">
                        <h2> 2/2 A/C SLEEPER </h2>
                        </span> <span class="busno">OR02BG0096</span></div>
                      <span class="sq">
                      <h2> 0 Seats </h2>
                      </span> <span class="slq">
                      <h2> 0 Sleeper </h2>
                      </span> <span class="tm">04:00 PM - 08:00 PM</span> </div>
                    <div class="allprc">
                      <div class="mdl"> 
				<span class="prc"><a href="#" data-popup=".popup-amenites" class="open-popup close-panel"> <img src="images/bar.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-boardingpoint" class="open-popup close-panel"> <img src="images/boarding_points.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-recess" class="open-popup close-panel"> <img src="images/recess_point.png" alt="" title="" /> </a></span>
			<span class="prc"><a href="#" data-popup=".popup-cancel" class="open-popup close-panel"> <img src="images/cancellation_policy.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="photos.html"  > <img src="images/gallery.png" alt="" title="" /> </a></span> </div>
                      <div class="mdlprc"> <span class="sitprice">
                        <h2> 120.00 </h2>
                        </span> <span class="slpprice">
                        <h2> 210.00 </h2>
                        </span> </div>
                    </div>
					
                  </div>
                </div>
                 </div>
				 
				 <div class="card-footer"> 
                    <span class="choose"> <a href="blog-single.html">BOOK NOW</a> </span>
                     </div>
				 </div>
              </li>
              <li class="swipeout">
			  <div class="card">
          <div class="card-content card-content-padding">	
                <div class="swipeout-content item-content">
                  <div class="post_entry">
                    <div class="post_thumb"> <img src="images/photos/photo8.jpg" alt="" title="" /> </div>
                    <div class="post_details">
                      <div class="post_category"> <span class="busname"> AJAYA </span> <span class="tob">
                        <h2> 2/2 A/C SLEEPER </h2>
                        </span> <span class="busno">OR02BG0096</span></div>
                      <span class="sq">
                      <h2> 0 Seats </h2>
                      </span> <span class="slq">
                      <h2> 0 Sleeper </h2>
                      </span> <span class="tm">04:00 PM - 08:00 PM</span> </div>
                    <div class="allprc">
                      <div class="mdl"> 
				<span class="prc"><a href="#" data-popup=".popup-amenites" class="open-popup close-panel"> <img src="images/bar.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-boardingpoint" class="open-popup close-panel"> <img src="images/boarding_points.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-recess" class="open-popup close-panel"> <img src="images/recess_point.png" alt="" title="" /> </a></span>
			<span class="prc"><a href="#" data-popup=".popup-cancel" class="open-popup close-panel"> <img src="images/cancellation_policy.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="photos.html"  > <img src="images/gallery.png" alt="" title="" /> </a></span> </div>
                      <div class="mdlprc"> <span class="sitprice">
                        <h2> 120.00 </h2>
                        </span> <span class="slpprice">
                        <h2> 210.00 </h2>
                        </span> </div>
                    </div>
					
                  </div>
                </div>
                 </div>
				 
				 <div class="card-footer"> 
                    <span class="choose"> <a href="blog-single.html">BOOK NOW</a> </span>
                     </div>
				 </div>
              </li>
              <li class="swipeout">
			  <div class="card">
          <div class="card-content card-content-padding">	
                <div class="swipeout-content item-content">
                  <div class="post_entry">
                    <div class="post_thumb"> <img src="images/photos/photo8.jpg" alt="" title="" /> </div>
                    <div class="post_details">
                      <div class="post_category"> <span class="busname"> AJAYA </span> <span class="tob">
                        <h2> 2/2 A/C SLEEPER </h2>
                        </span> <span class="busno">OR02BG0096</span></div>
                      <span class="sq">
                      <h2> 0 Seats </h2>
                      </span> <span class="slq">
                      <h2> 0 Sleeper </h2>
                      </span> <span class="tm">04:00 PM - 08:00 PM</span> </div>
                    <div class="allprc">
                      <div class="mdl"> 
				<span class="prc"><a href="#" data-popup=".popup-amenites" class="open-popup close-panel"> <img src="images/bar.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-boardingpoint" class="open-popup close-panel"> <img src="images/boarding_points.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-recess" class="open-popup close-panel"> <img src="images/recess_point.png" alt="" title="" /> </a></span>
			<span class="prc"><a href="#" data-popup=".popup-cancel" class="open-popup close-panel"> <img src="images/cancellation_policy.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="photos.html"  > <img src="images/gallery.png" alt="" title="" /> </a></span> </div>
                      <div class="mdlprc"> <span class="sitprice">
                        <h2> 120.00 </h2>
                        </span> <span class="slpprice">
                        <h2> 210.00 </h2>
                        </span> </div>
                    </div>
					
                  </div>
                </div>
                 </div>
				 
				 <div class="card-footer"> 
                    <span class="choose"> <a href="blog-single.html">BOOK NOW</a> </span>
                     </div>
				 </div>
              </li>
              <li class="swipeout">
			  <div class="card">
          <div class="card-content card-content-padding">	
                <div class="swipeout-content item-content">
                  <div class="post_entry">
                    <div class="post_thumb"> <img src="images/photos/photo8.jpg" alt="" title="" /> </div>
                    <div class="post_details">
                      <div class="post_category"> <span class="busname"> AJAYA </span> <span class="tob">
                        <h2> 2/2 A/C SLEEPER </h2>
                        </span> <span class="busno">OR02BG0096</span></div>
                      <span class="sq">
                      <h2> 0 Seats </h2>
                      </span> <span class="slq">
                      <h2> 0 Sleeper </h2>
                      </span> <span class="tm">04:00 PM - 08:00 PM</span> </div>
                    <div class="allprc">
                      <div class="mdl"> 
				<span class="prc"><a href="#" data-popup=".popup-amenites" class="open-popup close-panel"> <img src="images/bar.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-boardingpoint" class="open-popup close-panel"> <img src="images/boarding_points.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-recess" class="open-popup close-panel"> <img src="images/recess_point.png" alt="" title="" /> </a></span>
			<span class="prc"><a href="#" data-popup=".popup-cancel" class="open-popup close-panel"> <img src="images/cancellation_policy.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="photos.html"  > <img src="images/gallery.png" alt="" title="" /> </a></span> </div>
                      <div class="mdlprc"> <span class="sitprice">
                        <h2> 120.00 </h2>
                        </span> <span class="slpprice">
                        <h2> 210.00 </h2>
                        </span> </div>
                    </div>
					
                  </div>
                </div>
                 </div>
				 
				 <div class="card-footer"> 
                    <span class="choose"> <a href="blog-single.html">BOOK NOW</a> </span>
                     </div>
				 </div>
              </li>
              <li class="swipeout">
			  <div class="card">
          <div class="card-content card-content-padding">	
                <div class="swipeout-content item-content">
                  <div class="post_entry">
                    <div class="post_thumb"> <img src="images/photos/photo8.jpg" alt="" title="" /> </div>
                    <div class="post_details">
                      <div class="post_category"> <span class="busname"> AJAYA </span> <span class="tob">
                        <h2> 2/2 A/C SLEEPER </h2>
                        </span> <span class="busno">OR02BG0096</span></div>
                      <span class="sq">
                      <h2> 0 Seats </h2>
                      </span> <span class="slq">
                      <h2> 0 Sleeper </h2>
                      </span> <span class="tm">04:00 PM - 08:00 PM</span> </div>
                    <div class="allprc">
                      <div class="mdl"> 
				<span class="prc"><a href="#" data-popup=".popup-amenites" class="open-popup close-panel"> <img src="images/bar.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-boardingpoint" class="open-popup close-panel"> <img src="images/boarding_points.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-recess" class="open-popup close-panel"> <img src="images/recess_point.png" alt="" title="" /> </a></span>
			<span class="prc"><a href="#" data-popup=".popup-cancel" class="open-popup close-panel"> <img src="images/cancellation_policy.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="photos.html"  > <img src="images/gallery.png" alt="" title="" /> </a></span> </div>
                      <div class="mdlprc"> <span class="sitprice">
                        <h2> 120.00 </h2>
                        </span> <span class="slpprice">
                        <h2> 210.00 </h2>
                        </span> </div>
                    </div>
					
                  </div>
                </div>
                 </div>
				 
				 <div class="card-footer"> 
                    <span class="choose"> <a href="blog-single.html">BOOK NOW</a> </span>
                     </div>
				 </div>
              </li>
              <li class="swipeout">
			  <div class="card">
          <div class="card-content card-content-padding">	
                <div class="swipeout-content item-content">
                  <div class="post_entry">
                    <div class="post_thumb"> <img src="images/photos/photo8.jpg" alt="" title="" /> </div>
                    <div class="post_details">
                      <div class="post_category"> <span class="busname"> AJAYA </span> <span class="tob">
                        <h2> 2/2 A/C SLEEPER </h2>
                        </span> <span class="busno">OR02BG0096</span></div>
                      <span class="sq">
                      <h2> 0 Seats </h2>
                      </span> <span class="slq">
                      <h2> 0 Sleeper </h2>
                      </span> <span class="tm">04:00 PM - 08:00 PM</span> </div>
                    <div class="allprc">
                      <div class="mdl"> 
				<span class="prc"><a href="#" data-popup=".popup-amenites" class="open-popup close-panel"> <img src="images/bar.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-boardingpoint" class="open-popup close-panel"> <img src="images/boarding_points.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="#" data-popup=".popup-recess" class="open-popup close-panel"> <img src="images/recess_point.png" alt="" title="" /> </a></span>
			<span class="prc"><a href="#" data-popup=".popup-cancel" class="open-popup close-panel"> <img src="images/cancellation_policy.png" alt="" title="" /> </a></span>
				<span class="prc"><a href="photos.html"  > <img src="images/gallery.png" alt="" title="" /> </a></span> </div>
                      <div class="mdlprc"> <span class="sitprice">
                        <h2> 120.00 </h2>
                        </span> <span class="slpprice">
                        <h2> 210.00 </h2>
                        </span> </div>
                    </div>
					
                  </div>
                </div>
                 </div>
				 
				 <div class="card-footer"> 
                    <span class="choose"> <a href="blog-single.html">BOOK NOW</a> </span>
                     </div>
				 </div>
              </li>
            </ul>
            <div id="loadMore">LOAD MORE</div>
            <div id="showLess">END</div>
          </div>
        
      </div>
    </div>
  </div>
</div>
