<div class="pages">
  <div data-page="blogsingle" class="page no-toolbar no-navbar">
    <div class="page-content">
    
	<div class="navbarpages navbarpagesbg">
                             <a href="blog.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" /> </a>
			    <div class="navbar_right navbar_right_menu">
				 
				<a href="#" data-panel="left" class="open-panel"> <img src="images/icons/white/menu.png" alt="" title="" /> </a>
			    </div>			
			     
			     			
	</div>
	
     <div id="pages_maincontent">
      
      <!--<a href="blog.html" class="backto"><img src="images/icons/black/back.png" alt="" title="" /></a>-->
       
	  
                  <!-- Slider -->
                  	<h2 class="page_title">
					   
					  
					    
					  Choose Your Seat 
					   
					   
					  </h2>
					  
<div class="page_single layout_fullwidth_padding">	
           
		   <div class="ac-lft-list">
		   <ul>
		     <li> <span class="icn"> <img src="images/4.png" /> </span> Available</li>
			 <li> <span class="icn"> <img src="images/6.png" /> </span>Selected</li>
			<li> <span class="icn"> <img src="images/5.png" /> </span> Booked</li>
			 <li> <span class="icn"> <img src="images/blue.png" /> </span>Men</li>
			<li> <span class="icn"> <img src="images/pink.png" /> </span> Women</li>
			 </ul>
	  </div>
          <div class="ac-lft-list">
          <div class="buttons-row">
                <a href="#tab1" class="tab-link active button">Seater</a>
                <a href="#tab2" class="tab-link button">Sleeper </a>
          </div>
          
          <div class="tabs-animated-wrap">
                <div class="tabs">
                      <div id="tab1" class="tab active">
                             <div class="seatt">
							 
							  
							  <img src="images/st.jpg" />
							 
							  </div>
							  
							   
                      </div>

                      <div id="tab2" class="tab">
                             <div class="seatt">
							 
							  
							  <img src="images/slp.jpg" />
							 
							  </div>
							  
							  
                      </div> 
                </div>
				
				
				
		
		
				
          </div>
		  </div>
 </div>     
      
    </div>
	<div class="navbarpagesb">
	
	 <span class="totalst">  Seat:L3,L8 </span>
	<span class="totalprc">  &#x20b9 1225.00 </span>
	<a href="choose.html" class="close-panel done" data-view=".view-main">
                 DONE
				 </a>
	 </div>
  </div>
</div>
