<div class="pages">
  <div data-page="chat" class="page toolbar-fixed no-navbar">
  
  <div class="toolbar messagebar">
<div class="toolbar-inner">
<textarea placeholder="Message"></textarea><a href="#" class="link">Send</a>
</div>
</div>
  
    <div class="page-content">
    
	<div class="navbarpages navbarpagesbg">
                             <a href="index.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" />
			    <div class="navbar_right navbar_right_menu">
				<a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title="" /></a>
			    </div>			
			     
			     			
	</div>
	
     <div id="pages_maincontent" class="chat">
      
			  <h2 class="page_title">Chat messages</h2>
			 <div class="page_single layout_fullwidth_padding">  
		   
			<div class="messages">
			  <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
			  <div class="message message-sent">
				<div class="message-text">Hello</div>
			  </div>
			  <div class="message message-sent">
				<div class="message-text">How are you?</div>
			  </div>
			  <div class="message message-received">
				<div class="message-name">Kate</div>
				<div class="message-text">I am fine, thanks</div>
				<div style="background-image:url(images/avatar.jpg)" class="message-avatar"></div>
			  </div>
			  
			  <div class="messages-date">Sunday, Feb 3 <span>11:58</span></div>
			  <div class="message message-sent">
				<div class="message-text">Nice photo?</div>
			  </div>
			  <div class="message message-sent message-pic">
				<div class="message-text"><img src="images/page_photo.jpg"></div>
				<div class="message-label">Delivered</div>
			  </div>
			  <div class="message message-received">
				<div class="message-name">Kate</div>
				<div class="message-text">Wow, awesome!</div>
				<div style="background-image:url(images/avatar2.jpg)" class="message-avatar"></div>
			  </div>
			</div>
			
       </div>		
      
      </div>
      
      
    </div>
  </div>
</div>