<div class="pages">
  <div data-page="contact" class="page no-toolbar no-navbar">
    <div class="page-content">
    
	<div class="navbarpages navbarpagesbg">
                             <a href="index.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" />
			    <div class="navbar_right navbar_right_menu">
				<a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title="" /></a>
			    </div>			
			     
			     			
	</div>
	
     <div id="pages_maincontent">
      
      <h2 class="page_title">CONTACT</h2>
	  
     <div class="page_single layout_fullwidth_padding">	  

            <h2 id="Note"></h2>
            <div class="contactform">
            <form class="" id="ContactForm" method="post" action="#">
            <label>Name:</label>
            <input type="text" name="ContactName" id="ContactName" value="" class="form_input required" />
            <label>Email:</label>
            <input type="text" name="ContactEmail" id="ContactEmail" value="" class="form_input required email" />
            <label>Message:</label>
            <textarea name="ContactComment" id="ContactComment" class="form_textarea textarea required" rows="" cols=""></textarea>
            <input type="submit" name="submit" class="form_submit" id="submit" value="Send" />
            <input class="" type="hidden" name="to"  value="youremail@yourwebsite.com" />
            <input class="" type="hidden" name="subject" value="Contacf form message" />
            <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..." id="LoadingGraphic" /></label>
            </form>
            </div>
            
      <h3>Our Location</h3>
      
        
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.6424759512606!2d84.87603591428942!3d19.297907886960918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3d59ddebcbc259%3A0x6af8cd6267c5cc11!2sBerhampur+University!5e0!3m2!1sen!2sin!4v1545903331476" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      <blockquote>
       Berhampur University<br />


Bhanja Bihar, Ganjam

Odisha, India<br />


Pin-760007<br />


9090646636/9337446787
      </blockquote> 
      
      <a href="tel:+900 456 567 77" class="button_full btyellow external">Call Us Now!</a>   
      
      <div class="clear"></div>
      </div>
      
      </div>
    </div>
  </div>
</div>