<div class="pages">
  <div data-page="blog" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages navbarpagesbg"> <a href="choose.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" />
        <div class="navbar_right navbar_right_menu"> <a href="#" data-panel="left" class="open-panel"> <img src="images/icons/white/menu.png" alt="" title="" /></a> </div>
      </div>
      <div id="pages_maincontent">
        <h2 class="page_title">
					  Dropping
					  </h2>
         
          <div class="list-block">
             
            
          </div>
        
		<div class="list">
<ul>

<li>
<div class="card">
          <div class="card-content card-content-padding">
<label class="item-radio item-content">
<input type="radio" name="demo-radio" value="Books" checked="">
<i class="icon icon-radio"></i>
<div class="item-inner">
<div class="item-title">Baramunda 9:30</div>
</div>
</label>
</div>
</div>
</li>
<li>
<div class="card">
          <div class="card-content card-content-padding">
<label class="item-radio item-content">
<input type="radio" name="demo-radio" value="Movies">
<i class="icon icon-radio"></i>
<div class="item-inner">
<div class="item-title"> <a href="form.html" class="close-panel" data-view=".view-main"> Banivihar 4:30 </a></div>
</div>
</label>
</div>
</div>
</li>
 <li>
<div class="card">
          <div class="card-content card-content-padding">
<label class="item-radio item-content">
<input type="radio" name="demo-radio" value="Movies">
<i class="icon icon-radio"></i>
<div class="item-inner">
<div class="item-title">  Palasuni 5.00</div>
</div>
</label>
</div>
</div>
</li>
 
 
 
 
</ul>
</div>
		 
      </div>
    </div>
  </div>
</div>
