<div class="pages">
  <div data-page="form" class="page no-toolbar no-navbar">
    <div class="page-content">
    
	<div class="navbarpages navbarpagesbg">
                 <a href="blog-single.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" /> </a>
			    <div class="navbar_right navbar_right_menu">
				<a href="#" data-panel="left" class="open-panel"> <img src="images/icons/white/menu.png" alt="" title="" /> </a>
			    </div>			
			     
			     			
	</div>
	
     <div id="pages_maincontent">
     
	 
              <h2 class="page_title">BBSR TO BAM</h2> 
     
      


<div class="card">
          <div class="card-content card-content-padding">	
            <div class="contactform">
              <form class="" id="CustomForm" method="post" action="#">  
                <div class="form_row">
                  <label> Email ID </label>
                  <input type="text" name="name" value="" class="form_input" />
                </div>
				
                <div class="form_row">
                  <label> Phone </label>
                  <input type="text" name="name" value="" class="form_input" />
                </div>
                 
              </form>
            </div>
          </div>
		  </div>

<h2 class="page_title"> Passenger Information</h2>

<div class="card">
          <div class="card-content card-content-padding">	
             <div class="contactform">
                <form class="" id="CustomForm" method="post" action="#">
                <div class="form_row">
                <label>Name:</label>
                <input type="text" name="name" value="" class="form_input" />
                </div>
				<div class="form_row1">
                        <label>Gender:</label>
                        <div class="form_row_right">
                          <label class="label-radio item-content">
                            <!-- Checked by default -->
                            <input type="radio" name="my-radio" value="Books" checked="checked">
                            <div class="item-inner">
                              <div class="item-title">Male</div>
                            </div>
                          </label>
                          
                          <label class="label-radio item-content">
                            <!-- Checked by default -->
                            <input type="radio" name="my-radio" value="Movies">
                            <div class="item-inner">
                              <div class="item-title"> Female</div>
                            </div>
                          </label>
                         </div> 
                </div>
				<div class="form_row2">
                        <label>My Seat</label>
                        <span class="size"> Seat No- 4 ( Seater ) </span>
                </div>
                 
    
                </form>
                </div>
          </div>
		  </div>

  

<div class="card">
          <div class="card-content card-content-padding">
		               
				
		<div class="form_row">
                 <div class="payment_sum">
                              <div class="payment_sum" style="font-weight: 600;font-size: 18px; color: #4ec810;">Grand Total</div>
                           </div>
						   <div class="payment_sum2" style="font-weight:600; font-size:20px;color: #4ec810; text-align:right;">  <span class="t_amount ng-binding">900.00</span></div>
                  
                </div>

		<div class="form_row">
                <label class="str"> Coupon Code:</label>
                <div class="payment_sum"> <input type="text" name="email" value="" class="form_input required email" /> </div>
				<div class="offer"><input type="button" name="Apply" id="coupon" value="Apply"></div>
                </div>
                 
				
		 
		
		  
		
                
                
                 
                
                 
                 

                  <span class="jdetails"> <a href="#" data-popup=".popup-journey" class="open-popup close-panel"> Check Your Journey Details </a> </span> 
                
        <div class="contactform">
              <form class="" id="CustomForm" method="post" action="#">
                <input type="submit" name="submit" class="form_submit" id="submit" value="BOOK NOW" />
				</form>
				</div>
		  </div>
		  </div>

                

              
              
              
      
      </div>
      
      
    </div>
  </div>
</div>