<div class="pages">
  <div data-page="photos" class="page no-toolbar no-navbar">
    <div class="page-content">
      <div class="navbarpages navbarpagesbg"> <a href="blog.html" class="backto"> <img src="images/icons/white/back.png" alt="" title="" /> </a>
        <div class="navbar_right navbar_right_menu"> <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt="" title="" /></a> </div>
      </div>
      <div class="bottombarpages">
        <div class="gallery_switch"> <a href="#" id="view13" class="switcher active"><img src="images/switch_13_active.png" alt="Grid"></a> <a href="#" id="view12" class="switcher"><img src="images/switch_12.png" alt="Grid"></a> </div>
      </div>
      <div id="pages_maincontent">
        <h2 class="page_title">PHOTO GALLERY</h2>
        <div class="page_single layout_fullwidth">
          <div class="tabs-animated-wrap photos_tabs">
            <ul id="photoslist" class="photo_gallery_13">
              <li><a rel="gallery-3" href="images/photos/photo1.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo1.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo2.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo2.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo3.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo3.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo4.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo4.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo5.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo5.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo6.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo6.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo7.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo7.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo8.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo8.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo9.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo9.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo10.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo10.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo11.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo11.jpg" alt="image"/></a></li>
              <li><a rel="gallery-3" href="images/photos/photo12.jpg" title="Photo title" class="swipebox"><img src="images/photos/photo12.jpg" alt="image"/></a></li>
 
              <div class="clearleft"></div>
            </ul>
          </div>
        </div>
        <div class="clearleft"></div>
      </div>
    </div>
  </div>
</div>
